/* 
--rosewood: #4f000bff;
--claret: #720026ff;
--brick-red: #ce4257ff;
--coral: #ff7f51ff;
--sandy-brown: #ff9b54ff;
*/
/* Start of main css */
html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    background-color: black;
    background-image: url('../assets/san-francisco.jpg');
    background-position: 0 center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-origin: border-box;
    height: 100%;
}

/* ----------- Desktop ----------- */
/* Main wrappers */
header {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
}
main {
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    top: 80px;
    bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    padding: 0;
}
footer {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30px;
}
/* Desktop menu */
header .desktop-menu-wrapper {
    width: 1000px;
    margin-top: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 24px;
    background: rgba(204, 204, 204, 0.15);
    animation-name: appear;
    animation-duration: 2.3s;
    animation-delay: 0s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}
header .desktop-menu-wrapper div li {
    list-style-type: none;
}
header .desktop-menu-wrapper div li a{
    font-family: 'Cinzel', serif;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color: #720026ff;
}
main section {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
    scroll-snap-align: start;
}
.main-section {
    padding-top: 80px;
    width: 1000px;
}
.main-section .title {
    font-size: 80px;
    color: #720026;
    text-align: center;
    font-family: 'Cinzel', serif;
    animation-name: enterLeft;
    animation-duration: 1.2s;
    animation-delay: 0s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}
.main-section img.avatar {
    width: 400px;
    border-radius: 50%;
    display: block;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    border-style: none;
    box-shadow: 0px 0px 10px 12px rgba(0,0,0);
    box-shadow: 0px 0px 10px 12px rgba(0,0,0,0.2);
    animation-name: float;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.main-section .avatar-wrapper {
    animation-name: appear;
    animation-duration: 2.3s;
    animation-delay: 0s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}
.main-section .introduction {
    animation-name: enterRight;
    animation-duration: 1.2s;
    animation-delay: 0s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    margin-top: 16px;
}
.main-section .introduction p {
    font-family: 'Mukta', sans-serif;
    font-size: 30px;
    color: #4f000bff;
    padding: 8px;
    background: rgb(204, 204, 204); /* Fallback */
    background: rgba(204, 204, 204, 0.9);
    border-radius: 24px;
}
.services-section {
    scroll-snap-align: start;
    opacity: 70%;
    background-color: #720026ff;
}
footer p {
    text-align: center;
    color: white;
}
/* ----------- 1366x768 ----------- */
@media only screen
and (device-width : 1366px) 
and (device-height : 768px)
{

}
/* ----------- iPhone X ----------- */
@media only screen 
and (device-width : 375px) 
and (device-height : 812px)
and (-webkit-device-pixel-ratio : 3)
{
    main {
        width: 375px;
        height: 780px;
    }
    main section {
        width: 100%;
    }
    footer {
        height: 32px;
    }
    .main-section .title {
        font-size: 65px;
    }
    .main-section img.avatar {
        width: 350px;
    }
    .main-section .introduction p {
        font-size: 24px;
    }
}
/* ----------- iPhone 6,7,8 Plus----------- */
@media only screen 
and (device-width : 414px) 
and (device-height : 736px)
{
    main {
        width: 414px;
        height: 700px;
    }
    main section {
        width: 100%;
    }
    footer {
        height: 32px;
    }
    .main-section .title {
        font-size: 70px;
    }
    .main-section img.avatar {
        width: 370px;
    }
    .main-section .introduction p {
        font-size: 24px;
    }

}
/* ----------- iPhone 6,7,8 ----------- */
@media only screen 
and (min-device-width : 375px) 
and (max-device-height : 667px)
{
    main {
        width: 375px;
        height: 640px;
    }
    main section {
        width: 100%;
    }
    footer {
        height: 32px;
    }
    .main-section .title {
        font-size: 60px;
    }
    .main-section img.avatar {
        width: 350px;
    }
    .main-section .introduction p {
        font-size: 22px;
    }

}
/* ----------- iPhone 5,5s ----------- */
@media only screen 
and (device-width : 320px) 
and (device-height : 568px)
{
    main {
        width: 320px;
        height: 530px;
    }
    main section {
        width: 100%;
    }
    footer {
        height: 32px;
    }
    .main-section .title {
        font-size: 50px;
    }
    .main-section img.avatar {
        width: 300px;
    }
    .main-section .introduction p {
        font-size: 20px;
    }
}
/* ----------- iPhone 4,4s ----------- */
@media only screen 
and (device-width : 320px) 
and (device-height : 480px)
{
    main {
        width: 320px;
        height: 450px;
    }
    main section {
        width: 100%;
    }
    footer {
        height: 32px;
    }
    .main-section .title {
        font-size: 40px;
    }
    .main-section img.avatar {
        width: 280px;
    }
    .main-section .introduction p {
        font-size: 20px;
    }
}
/* ----------- Animations ----------- */
/* Floating avatar */
@keyframes float {
	0% {
        transform: translatey(0px);
	}
	50% {
        transform: translatey(-15px);
	}
	100% {
        transform: translatey(0px);
	}
}
@keyframes appear {
    0% {
        opacity: 0%;
	}
	100% {
        opacity: 100%;
	}
}
/* Enter the main section */
@keyframes enterLeft {
    0% {
        transform: translateX(-5000px);
    }
    100% {
        transform: translateX(0px);
    }
}
@keyframes enterRight {
    0% {
        transform: translateX(5000px);
    }
    100% {
        transform: translateX(0px);
    }
}