.main-section {
    width: 1000px;
}
.main-section.active-section .title {
    animation-name: enterLeft;
    animation-duration: 0.8s;
    animation-delay: 0s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}
.main-section .title {
    font-size: 80px;
    text-align: center;
}
.main-section img.avatar {
    width: 400px;
    border-radius: 50%;
    display: block;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    border-style: none;
    box-shadow: 0px 0px 10px 12px rgba(0,0,0);
    box-shadow: 0px 0px 10px 12px rgba(0,0,0,0.2);
}
.main-section.active-section img.avatar {
    animation-name: float;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.main-section.active-section .avatar-wrapper {
    animation-name: appear;
    animation-duration: 0.8s;
    animation-delay: 0s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}
.main-section .introduction {
    margin-top: 16px;
}
.main-section.active-section .introduction {
    animation-name: enterRight;
    animation-duration: 0.8s;
    animation-delay: 0s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}
.main-section .introduction p {
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    border-radius: 24px;
}
.main-section .introduction span {
    color: #e63946;
}
.help-section.active-section .help-wrapper {
    animation-name: enterRight;
    animation-duration: 0.8s;
    animation-delay: 0s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}
.help-section h2 {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}
.help-section .help-type::before {
    content: 'design';
    color: #e63946;
    animation-name: changeHelp;
    animation-duration: 10s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    font-size: 85px;
    font-weight: bold;
}
@keyframes changeHelp {
    0%   {
        content: 'design';
    }
    10% {
        content: 'develop';
    }
    20%  {
        content: 'build';
    }
    30% {
        content: 'test';
    }
    40%  {
        content: 'containerize';
    }
    50% {
        content: 'secure';
    }
    60%  {
        content: 'deploy';
    }
    70% {
        content: 'scale';
    }
    80%  {
        content: 'maintain';
    }
    90% {
        content: 'debug';
    }
    100% {

    }
}
.services-section {
    padding-top: 40px;
    padding-left: 200px;
    padding-right: 200px;
}
.services-section.active-section .services-wrapper {
    animation-name: enterLeft;
    animation-duration: 0.8s;
    animation-delay: 0s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}
.services-section .services-container {
    padding-top: 100px;
}
.services-section .services-container .service-container {
    height: 500px;
    min-width: 350px;
    margin-bottom: 80px;
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 24px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 24px;
    overflow-y: scroll;
    background-color: #b2deec;
    color: #003049;
}
.services-section.active-section .service-container {
    transition-duration: 0.6s;
    transition-property: box-shadow, transform;
    transform: translateY(0px);
    box-shadow: none;
}
.services-section .service-container:hover {
    box-shadow: 5px 5px 50px black;
    transform: translateY(-20px);
}
.services-section .service-container img {
    width: 150px;
    display: block;
    margin: auto;
}
.services-section .service-container h4 {
    padding-top: 40px;
}
.technologies-section {
    padding-top: 40px;
    padding-left: 200px;
    padding-right: 200px;
}
.technologies-section.active-section .technologies-wrapper {
    animation-name: enterBottom;
    animation-duration: 0.8s;
    animation-delay: 0s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}
.technologies-section .technologies-container {
    padding-top: 100px;
}
.technologies-section .technologies-container .technology-container {
    height: 400px;
    min-width: 350px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 80px;
    padding-top: 24px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 24px;
    overflow-y: scroll;
    background-color: #b2deec;
    color: #003049;
}
.technologies-section.active-section .technology-container {
    transition-duration: 0.6s;
    transition-property: box-shadow, transform;
    transform: translateY(0px);
    box-shadow: none;
}
.technologies-section .technology-container:hover {
    box-shadow: 5px 5px 50px black;
    transform: translateY(-20px);
}
.technologies-section .technologies-container .technology-container img{
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
}
.technologies-section .technologies-container .technology-container h4{
    padding-top: 40px;
}
.information-section.active-section .information-wrapper{
    animation-name: enterRight;
    animation-duration: 0.8s;
    animation-delay: 0s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}
.information-section h2 {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}
.information-section h2 a{
    text-decoration: none;
    color: #e63946;
}
.reach-section.active-section .reach-wrapper{
    animation-name: enterLeft;
    animation-duration: 0.8s;
    animation-delay: 0s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}
.reach-section h2 {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}
.reach-section h2 a{
    text-decoration: none;
    color: #e63946;
}
@media only screen 
and (device-width: 414px) 
and (device-height: 896px) 
and (-webkit-device-pixel-ratio: 3) { 
    .main-section {
        padding-top: 0px;
    }
    .main-section .title {
        font-size: 65px;
    }
    .main-section img.avatar {
        margin-top: 40px;
        width: 350px;
    }
    .main-section .introduction p {
        width: 360px;
        font-size: 24px;
    }
    .help-section h2 {
        width: 375px;
    }
    .help-section h2:nth-of-type(2)::before {
        font-size: 60px;
    }
    .services-section {
        padding: 0px;
    }
    .services-section h2 {
        padding-top: 20px;
        font-size: 50px;
    }
    .services-section .services-container {
        padding-top: 16px;
        padding-left: 24px;
        padding-right: 24px;
    }
    .services-section .services-container .service-container {
        width: 330px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }
    .services-section .services-container .service-container h4 {
        font-size: 22px;
        padding-top: 24px;
    }
    .technologies-section {
        padding: 0px;
    }
    .technologies-section h2 {
        padding-top: 20px;
        font-size: 40px;
    }
    .technologies-section .technologies-container {
        padding-top: 16px;
        padding-left: 24px;
        padding-right: 24px;
    }
    .technologies-section .technologies-container .technology-container {
        width: 330px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }
    .technologies-section .technologies-container .technology-container h4 {
        font-size: 22px;
        padding-top: 24px;
    }
    .information-section {
        padding: 0px;
    }
    .information-section h2 {
        width: 330px;
        overflow-y: scroll;
        font-size: 40px;
    }
    .reach-section {
        padding: 0px;
    }
    .reach-section h2 {
        width: 330px;
        overflow-y: scroll;
        font-size: 40px;
    }
}
/* ----------- iPhone X ----------- */
@media only screen 
and (device-width : 375px) 
and (device-height : 812px)
and (-webkit-device-pixel-ratio : 3)
{
    .main-section {
        padding-top: 0px;
    }
    .main-section .title {
        font-size: 65px;
    }
    .main-section img.avatar {
        margin-top: 40px;
        width: 350px;
    }
    .main-section .introduction p {
        width: 360px;
        font-size: 24px;
    }
    .help-section h2 {
        width: 375px;
    }
    .help-section h2:nth-of-type(2)::before {
        font-size: 60px;
    }
    .services-section {
        padding: 0px;
    }
    .services-section h2 {
        padding-top: 20px;
        font-size: 50px;
    }
    .services-section .services-container {
        padding-top: 16px;
        padding-left: 24px;
        padding-right: 24px;
    }
    .services-section .services-container .service-container {
        width: 330px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }
    .services-section .services-container .service-container h4 {
        font-size: 22px;
        padding-top: 24px;
    }
    .technologies-section {
        padding: 0px;
    }
    .technologies-section h2 {
        padding-top: 20px;
        font-size: 40px;
    }
    .technologies-section .technologies-container {
        padding-top: 16px;
        padding-left: 24px;
        padding-right: 24px;
    }
    .technologies-section .technologies-container .technology-container {
        width: 330px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }
    .technologies-section .technologies-container .technology-container h4 {
        font-size: 22px;
        padding-top: 24px;
    }
    .information-section {
        padding: 0px;
    }
    .information-section h2 {
        width: 330px;
        overflow-y: scroll;
        font-size: 40px;
    }
    .reach-section {
        padding: 0px;
    }
    .reach-section h2 {
        width: 330px;
        overflow-y: scroll;
        font-size: 40px;
    }
}
/* ----------- iPhone 6,7,8 Plus ----------- */
@media only screen 
and (device-width : 414px) 
and (device-height : 736px)
{
    .main-section {
        padding-top: 0;
    }
    .main-section .title {
        font-size: 70px;
    }
    .main-section img.avatar {
        margin-top: 40px;
        width: 300px;
    }
    .main-section .introduction p {
        width: 380px;
        font-size: 24px;
    }
    .help-section h2 {
        width: 414px;
    }
    .help-section h2:nth-of-type(2)::before {
        font-size: 70px;
    }
    .services-section {
        padding: 0px;
    }
    .services-section h2 {
        padding-top: 20px;
        font-size: 50px;
    }
    .services-section .services-container {
        padding-top: 16px;
        padding-left: 24px;
        padding-right: 24px;
    }
    .services-section .services-container .service-container {
        width: 370px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }
    .services-section .services-container .service-container h4 {
        padding-top: 24px;
    }
    .technologies-section {
        padding: 0px;
    }
    .technologies-section h2 {
        padding-top: 20px;
        font-size: 40px;
    }
    .technologies-section .technologies-container {
        padding-top: 16px;
        padding-left: 24px;
        padding-right: 24px;
    }
    .technologies-section .technologies-container .technology-container {
        width: 360px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }
    .technologies-section .technologies-container .technology-container h4 {
        padding-top: 24px;
    }
    .information-section {
        padding: 0px;
    }
    .information-section h2 {
        width: 380px;
        overflow-y: scroll;
        font-size: 50px;
    }
    .reach-section {
        padding: 0px;
    }
    .reach-section h2 {
        width: 380px;
        overflow-y: scroll;
        font-size: 50px;
    }
}
/* ----------- iPhone 6,7,8 ----------- */
@media only screen 
and (min-device-width : 375px) 
and (max-device-height : 667px)
{
    .main-section {
        padding-top: 0;
    }
    .main-section .title {
        font-size: 60px;
    }
    .main-section img.avatar {
        margin-top: 40px;
        width: 300px;
    }
    .main-section .introduction p {
        width: 340px;
        font-size: 20px;
    }
    .help-section h2 {
        width: 375px;
    }
    .help-section h2:nth-of-type(2)::before {
        font-size: 60px;
    }
    .services-section {
        padding: 0px;
    }
    .services-section h2 {
        padding-top: 20px;
        font-size: 40px;
    }
    .services-section .services-container {
        padding-top: 16px;
        padding-left: 24px;
        padding-right: 24px;
    }
    .services-section .services-container .service-container {
        width: 340px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }
    .services-section .services-container .service-container h4 {
        font-size: 22px;
        padding-top: 24px;
    }
    .technologies-section {
        padding: 0px;
    }
    .technologies-section h2 {
        padding-top: 20px;
        font-size: 40px;
    }
    .technologies-section .technologies-container {
        padding-top: 16px;
        padding-left: 24px;
        padding-right: 24px;
    }
    .technologies-section .technologies-container .technology-container {
        width: 340px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }
    .technologies-section .technologies-container .technology-container h4 {
        font-size: 22px;
        padding-top: 24px;
    }
    .information-section {
        padding: 0px;
    }
    .information-section h2 {
        width: 360px;
        overflow-y: scroll;
        font-size: 40px;
    }
    .reach-section {
        padding: 0px;
    }
    .reach-section h2 {
        width: 360px;
        overflow-y: scroll;
        font-size: 40px;
    }
}
/* ----------- iPhone 5,5s ----------- */
@media only screen 
and (device-width : 320px) 
and (device-height : 568px)
{
    .main-section {
        padding-top: 0;
    }
    .main-section .title {
        font-size: 50px;
    }
    .main-section img.avatar {
        margin-top: 35px;
        width: 280px;
    }
    .main-section .introduction p {
        width: 300px;
        font-size: 18px;
    }
    .help-section h2 {
        width: 310px;
    }
    .help-section h2:nth-of-type(2)::before {
        font-size: 50px;
    }
    .services-section {
        padding: 0px;
    }
    .services-section h2 {
        padding-top: 20px;
        font-size: 40px;
    }
    .services-section .services-container {
        padding-top: 16px;
        padding-left: 24px;
        padding-right: 24px;
    }
    .services-section .services-container .service-container {
        width: 280px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }
    .services-section .services-container .service-container h4 {
        font-size: 22px;
        padding-top: 24px;
    }
    .technologies-section {
        padding: 0px;
    }
    .technologies-section h2 {
        padding-top: 20px;
        font-size: 30px;
    }
    .technologies-section .technologies-container {
        padding-top: 16px;
        padding-left: 24px;
        padding-right: 24px;
    }
    .technologies-section .technologies-container .technology-container {
        width: 280px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }
    .technologies-section .technologies-container .technology-container h4 {
        font-size: 18px;
        padding-top: 24px;
    }
    .information-section {
        padding: 0px;
    }
    .information-section h2 {
        width: 280px;
        overflow-y: scroll;
        font-size: 40px;
    }
    .reach-section {
        padding: 0px;
    }
    .reach-section h2 {
        width: 280px;
        overflow-y: scroll;
        font-size: 40px;
    }
}
/* ----------- iPhone 4,4s ----------- */
@media only screen 
and (device-width : 320px) 
and (device-height : 480px)
{
    .main-section {
        padding-top: 20px;
    }
    .main-section .title {
        font-size: 40px;
    }
    .main-section img.avatar {
        margin-top: 30px;
        width: 250px;
    }
    .main-section .introduction p {
        width: 300px;
        font-size: 20px;
    }
    .help-section h2 {
        font-size: 40px;
        width: 320px;
    }
    .help-section h2:nth-of-type(2)::before {
        font-size: 50px;
    }
    .services-section {
        padding: 0px;
    }
    .services-section h2 {
        padding-top: 20px;
        font-size: 40px;
    }
    .services-section .services-container {
        padding-top: 16px;
        padding-left: 24px;
        padding-right: 24px;
    }
    .services-section .services-container .service-container {
        width: 280px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }
    .services-section .services-container .service-container h4 {
        font-size: 18px;
        padding-top: 24px;
    }
    .technologies-section {
        padding: 0px;
    }
    .technologies-section h2 {
        padding-top: 20px;
        font-size: 40px;
    }
    .technologies-section .technologies-container {
        padding-top: 16px;
        padding-left: 24px;
        padding-right: 24px;
    }
    .technologies-section .technologies-container .technology-container {
        width: 280px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }
    .technologies-section .technologies-container .technology-container h4 {
        font-size: 18px;
        padding-top: 24px;
    }
    .information-section {
        padding: 0px;
    }
    .information-section h2 {
        width: 300px;
        overflow-y: scroll;
        font-size: 40px;
    }
    .reach-section {
        padding: 0px;
    }
    .reach-section h2 {
        width: 300px;
        overflow-y: scroll;
        font-size: 40px;
    }
}